#body
{
background:blue;
color:white;
}

a {
color:red;
text-decoration:none;
background:black;
font-size: 20px;
}

a:hover

{color:black;
text-decoration:underline;
background:green;
}

li{
display:inline;
margin-left: 5px;
}

.klass1
{
font-size:20px;

}

.klass2
{
position:absolute;
top:10px;
left:27%;
text-align:center;
font-size:80px;
color:black;
}

/*text*/


b
{
background:url('menyrad.gif') no-repeat 0 0;
width:285px;
height:122px;
float:left;
}

a:hover {
background:url('menyrad.gif') no-repeat 0 -122px;
}


#rubrik
{
background-image:url('Bilder till Prog/images skola/white.jpg');
border:2px solid black;
width:45%;
height:100px;
color:black;
}

h5
{
font-size:40px;
color:black;
}

#text1
{
position:absolute;
top:150px;
left:20px;
}


#helikopterbild
{
position:absolute;
top:335px;
left:300px;
}

#alertbild
{
position:absolute;
top:335px;
left:20px;
}

#text2
{
position:absolute;
top:750px;
left:20px;
}

#videolista
{
position:absolute;
top:770px;
left:40px;
}

#text3
{position:absolute;
top:820px;
left:20px;
}

#text4
{
position:absolute;
top:950px;
left:20px;
border:3px solid green;
}

/*Sak1 och Sak2 ligger i text4*/

#sak1
{ 
background:black;
width:120px;
color:red;
font-size:30px;
text-align:center;

}

#sak2
{
background:yellow;
width:120px;
color:red;
font-size:30px;
text-align:center;
}

#bralänkar
{
position:absolute;
top:1100px;
left:20px;
}

/*färgbyten text & bakgrund*/

#colorblue
{
background-image:url('Bilder till Prog/images skola/blue.jpg');
position:absolute;
top:5%;
left:1.5%;
width:100px;
height:40px;
border:2px solid white;
}

#colorgreen
{ 
background-image:url('Bilder till Prog/images skola/green.png');
position:absolute;
top:5%;
left:9.5%;
width:100px; 
height:40px;
border:2px solid white;
}

#colorblack
{
background-image:url('Bilder till Prog/images skola/black.png');
position:absolute;
top:5%;
left:17.5%;
width:100px;
height:40px;
border:2px solid white;
}

#textblack
{
background-image:url('Bilder till Prog/images skola/green.png');
position:absolute;
top:5%;
left:82.5%;
width:100px;
height:40px;
border:2px solid white;
color:black;
}

#textwhite
{
background-image:url('Bilder till Prog/images skola/blue.jpg');
position:absolute;
top:5%;
left:74.5%;
width:100px;
height:40px;
border:2px solid white;
color:white;
}

#textred
{
background-image:url('Bilder till Prog/images skola/black.png');
position:absolute;
top:5%;
left:90.5%;
width:100px;
height:40px;
border:2px solid white;
color:red;
}

#helper
{
position:absolute;
top:1200px;
}






/*page2 design*/






#cord
{
position:absolute;
top:200px;
left:1.5%;
width:215px;
height:200px;
border:2px solid white;
}

#value
{
position:absolute;
top:420px;
left:1.5%;
width:110px;
height:20px;
border:2px solid white;
text-align:center;
}

#spelplan
{
background-image:url('Bilder till Prog/images skola/chack.jpg');
position:absolute;
top:200px;
left:375px;
width:900px;
height:500px;
border:2px solid white;
}

#gubbediv
{
position:absolute;
left:1px;
top:1px;
gamebox();
}

#helpspace
{
position:absolute;
top:800px;
}

#buttonStart
{
position:absolute;
}

#buttonUpp
{
position:absolute;
}

#buttonDown
{
position:absolute;
}

#buttonRigth
{
position:absolute;
}

#buttonLeft
{
position:absolute;
}

#buttonReset
{
position:absolute;
}
